*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Mulish;
}
body{
    background-color: #E5E5E5;
}
main{
background-color: #FFFFFF;
display: flex;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50% , -50%);
border-radius: 15px;
max-width: 50%;

}
.menu{
 padding: 3em;
 max-width: 40em;
}
#text-log{
    font-size: 16px;
   margin:12px  0 2.5em 0 ;
}
.menu h1{
    font-family: Rokkitt;
    font-size: 36px;
    font-weight: bold;
}
.email-button{
    border: 1px solid #E5E5E5;
    padding: 1em;
    width: 100%;
}
#pass{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
#next{
    border: none;
    background-color: #046586;
    padding: 1em;
    color: #FFFFFF;
    width: 7em;
    font-weight: 700;
    border-radius: 4px;
    box-shadow:1px 1px 4px black;
}
.contorno{
    display: flex;
    box-shadow:1px 1px 4px black;
    border-radius: 15px;
}
#espaço{
    color: #CAD6E4;
    margin: 1em;
}
#final{
    display: flex;
    width: 20px;
    height: 40px;
    margin-top: 20px;
    
}
.botoes{
display: flex; 

}
#btn-1{
    margin-right: 15px;
}
#text-final{
    text-align: center;
    margin: 2em;
    color: #838A9E;
    font-size: 14px;
}
footer{
    text-align: center;
    margin-top: 3em;
}
#imagem{
    margin:-3px;
    
}
#link{
    text-decoration: none;
    color: #0C6787;
}